---
---

@import "minima";
@media print {

  a, blockquote, details, pre, table { break-inside:avoid; }

  h1, h2, h3, h4, h5, h6, img, thead {
    break-after:avoid; 
    break-inside:avoid;
  }

  ul, ol, dl, tbody, tfoot { break-before:avoid; }

  .entry iframe, ins {
    display: none;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    line-height: 0pt !important;
    white-space: nowrap;
  }

  .embed-youtube, .embed-responsive {
    position: absolute;
    height: 0;
    overflow: hidden;
  }

  #header-widgets, nav, aside.mashsb-container, 
  .sidebar, .mashshare-top, .mashshare-bottom, 
  .content-ads, .make-comment, .author-bio, 
  .heading, .related-posts, #decomments-form-add-comment, 
  #breadcrumbs, #footer, .post-byline, .meta-single, 
  .site-title img, .post-tags, .readability 
  { display: none; }

}
